<!DOCTYPE html>
<html>
<head>
	<link rel = "stylesheet" type = "text/css" href = "/css/style.css">
  <link href='http://fonts.googleapis.com/css?family=Kalam:700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Calligraffitti' rel='stylesheet' type='text/css'>
</head>
<body>
<header>
  <ul class = "nav">
  <li><a href="/shirts"> The Shop </a> </li>
  <li><a href="/admin"> Admin Site </a> </li>
  </ul>
<h1>Admin Site</h1>
</header>
<br />

<div class = "purchase">
<a href="/admin/purchases">Purchase History</a>
</div>

<h2> Add New Shirts Here: </h2>
	<form action="/shirts" method="POST" class= "create">
     	
      			<label>Name</label>
      			<input type="text" name="name" placeholder="Shirt Name">
      			<label>Quantity</label>
      			<input type="text" name="quantity" placeholder="Quantity">
      			<label>Image</label>
      			<input type="text" name="image" placeholder="Image URL">
      			<button>New</button>
  </form>

 		<ul class="shirts_list">

   		<% shirts.each do |shirt| %>

      	<li>

      		<%= shirt.name %>
      		<%= shirt.quantity %>
      		<img src='<%= shirt.image %>'/>
          <form action="/shirts/<%= shirt.id %>" method="POST">
          <input type="hidden" name="_method" value="DELETE">
      		<button>Delete</button>
          </form>

      		<form action="/shirts/<%= shirt.id %>" method="POST">
      			<input type="hidden" name="_method" value="PUT">
      			<input type="text" name="editName" value="<%= shirt.name %>">
      			<input type="text" name="editQuantity" value="<%= shirt.quantity %>">
      			<input type="text" name="editImage" value="<%= shirt.image %>">
      			<button>Edit</button>

      		</form>
     	</li>

    	<%end%>


	</ul>
	</body>
</html>