<!DOCTYPE html>
<html>
<head>
	<link rel = "stylesheet" type = "text/css" href = "/css/style.css">
	<link href='http://fonts.googleapis.com/css?family=Kalam:700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Calligraffitti' rel='stylesheet' type='text/css'>
</head>

<body>
<header>
	<ul class = "nav">
	<li><a href="/shirts"> The Shop </a> </li>
	<li><a href="/admin"> Admin Site </a> </li>
  </ul>

<h1> SweatShop.ly </h1>
</header>

<div class="sort_dropdown">
<form action="/shirts" method="GET">
    <select name="sort">
      <option value="price ASC">Lowest to Highest Priced</option>
      <option value="price DESC">Highest to Lowest Priced</option>
    </select>
    <button>Sort</button>
  </form>
</div>

 <ul class="shirts_list">
  <% if shirts %>
    <% shirts.each do |shirt| %>

      <li>
      <a href="/shirts/<%= shirt.id %>"><%= shirt.name %></a>
      <br />
      Only <%= shirt.quantity %> Left!
      <br />
      $<%= shirt.price %>
      <img src='<%= shirt.image %>'/>
      <br />
      </li>

    <%end%>
<% end %>
</ul>

</body>

</html>