<!DOCTYPE html>
<html lang="en">
<head>
	<link rel = "stylesheet" type = "text/css" href = "/css/style.css">
	<link href='http://fonts.googleapis.com/css?family=Kalam:700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Calligraffitti' rel='stylesheet' type='text/css'>
	<meta charset="UTF-8">
	<title>One shirt</title>
</head>
<body>
<header>
	<ul class = "nav">
	<li><a href="/shirts"> The Shop </a> </li>
	<li><a href="/admin"> Admin Site </a> </li>
	</ul>
	<h1><%= shirt.name %></h1>
</header>
<br />
	<img class = "pic" src="<%= shirt.image %>">
	<div class = "show">
	<p>$<%= shirt.price %></p>
	<form action="/buyers/<%= shirt.id %>" method="POST">
	<select id="quant" name="shirt_quantity">
		<% for num in 0..shirt.quantity %>
			<option value="<%= num %>"><%= num %></option>
		<% end %>
	</select>
		<input type="text" name="email" placeholder="Enter Email">
		<button id="purchase_button">Purchase</button>	
	</form>
	</div>
</body>
</html>